<div class="container-fluid border-total">
  <div class="row">
    <div class="col-9">
      <% @order_details.each do |item| %>
        <div class="row each-product">
          <div class="col-3"><%= item.product.name %></div>
          <div class="col-2"><%= number_to_currency(item.product.price) %></div>
          <div class="col-5">
            <%= form_for item, remote: true do |f| %>
              <%= f.hidden_field :product_id, value: item.product.id %>
              <%= f.number_field :quantity, value: item.quantity.to_i, min: 1, class: "quantity-input" %>
              <%= f.submit t("layouts._carts_item.update") %>
              <%= link_to order_detail_path(item), method: :delete, remote: true do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
          <div class="col-2"><%= number_to_currency(item.total) %></div>
        </div>
      <% end %>
    </div>
    <div class="col-3 process-order">
      <div class="money-cart">
        <i><%= t("layouts._carts_item.money") %></i>
        <b><%= number_to_currency(current_order.subtotal) %></b>
      </div>
      <div class="button-order">
        <%= t("layouts._carts_item.order") %>
      </div>
    </div>
  </div>
</div>
